body>p:nth-of-type(1) {
  color: red;
}

[tabindex="1"]:focus {
  color: blue;
}

[tabindex="1"]:hover {
  color: red;
}

[tabindex="1"]:active {
  color: green;
}


.a.c>span {
  color: red;
}

.a.c>span>span:nth-child(1) {
  color: green;
}

.a.c>span>span:nth-child(2) {
  color: blue;
}

a:link {
  color: pink;
}

a:visited {
  color: orange;
}

a[href^="tel" i] {
  color: yellow;
}

a[href*="@"] {
  color: blue;
}

a[href$="pdf" i] {
  font-size: 30px;
}

.a ul li:nth-child(4),
.a ul li:nth-child(5),
.a ul li:nth-child(6),
.a ul li:nth-child(7) {
  color: red;
}



.b ul li {
  color: red;
}

.b ul li:nth-child(n+26) {
  color: rgb(0, 0, 0);
}

.b ul li:nth-child(n+35) {
  color: blue;
}

.b ul li:nth-child(n+51) {
  color: rgb(0, 0, 0);
}

.b ul li:nth-child(n+65) {
  color: green;
}




.prime ul li:nth-child(2n+1) {
  color: aqua;
}

.prime ul li:first-of-type {
  color: black;
}

.prime ul li:nth-child(odd) {
  color: aqua;
}
